<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Twitter Analyzer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
<div class="container" style="width:100%">
	<div class="navbar-header">
      <a class="navbar-brand" href="/">
	  <img style="max-width:160px; margin-top: -7px;" src="{{ url_for('static', filename='images/logo.png') }}">
	  </a>
    </div>
<div>
</header>
<div class="border-row" style="width:100%; margin-top: 3px; border-style: solid;
    border-bottom: 2px; border-color: #999;"> </div>

<body>

	
<div style="display: block">
	<div class="panel panel-default" style="width:50%; min-width:300px;  max-width: 36%; margin: 100px 5% 0px 5%; border-style: solid; display: inline-block;
		-webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);"
	>
		<div class="panel-body" >
			<p style="font-size: 150%; display: block; text-align: center;" ;>Type a username to see its statistics </p>	
		</div>
	</div>
	
	<div class="panel panel-default" style="width:50%; min-width:300px;  max-width: 36%; margin: 100px 5% 0px 5%; border-style: solid; display: inline-block;
		-webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);">
		<div class="panel-body" >
			<p style="font-size: 150%; display: block; text-align: center;" ;>Type a username to see its statistics </p>	
		</div>
	</div>
<div>

	
<div style="display: block">
	<div class="panel panel-default" style="width:50%; min-width:300px;  max-width: 36%; margin: 100px 5% 0px 5%; border-style: solid; display: inline-block;
		-webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);">
		<div class="panel-body" >
			<p style="font-size: 150%; display: block; text-align: center;" ;>Type a username to see its statistics </p>	
		</div>
	</div>
	
	<div class="panel panel-default" style="width:50%; min-width:300px;  max-width: 36%; margin: 100px 5% 0px 5%; border-style: solid; display: inline-block;
		-webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);">
		<div class="panel-body" >
			<p style="font-size: 150%; display: block; text-align: center;" ;>Type a username to see its statistics </p>	
		</div>
	</div>
<div>

<div style="display: block">
	<div class="panel panel-default" style="width: 80%; min-width:300px; max-width: 86%; margin: 100px 5% 100px 5%; border-style: solid; display: inline-block
	-webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);">
		<div class="panel-body" >
			<p style="font-size: 150%; display: block; text-align: center;" ;>Type a username to see its statistics </p>	
		</div>
	</div>
</div>

	
	
	
	
	
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
</body>

</html>